/* -- Base -- */
body {
    font-family: var(--ff-body);
    font-size: var(--fs-normal);
    font-weight: var(--fw-regular);
    color: var(--text-color);
    background-color: var(--body-color);
    overflow: overlay;
}

/* -- Navigation -- */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1.5em .6em;
    gap: .6em;
}

.nav-logo {
    width: max-content;
    font-size: var(--fs-h1);
    font-weight: var(--fw-semi);
    color: var(--black);
    font-family: var(--ff-title);
    text-shadow: 2px 2px 0 var(--text-shadow);
}

.nav-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.nav-list::after,
.nav-list::before {
    content: '';
    width: 30px;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: -3em;
}

.nav-list::before {
    left: initial;
    right: -3em;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    width: max-content;
}

.nav-link {
    position: relative;
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
    transition: all .3s;
}

.nav-link:hover {
    color: var(--black);
    text-shadow: 2px 2px 0 var(--first-color);
}

.nav-social {
    display: none;
}

/* Add Scroll Header */
.scroll-header {
    backdrop-filter: blur(10px);
    background-color: hsla(0, 100%, 100%, .5);
    box-shadow: 0 2px 12px hsla(0, 0%, 0%, .12);
}

/*
    hero
*/
.hero-container {
    position: relative;
    padding-block: 5.5rem;
}

.hero-caption {
    font-size: var(--fs-big);
    text-align: center;
}

.hero-social {
    display: none;
}

.hero-info {
    margin-top: 1rem;
}

.hero-desc {
    text-align: center;
    font-size: var(--fs-h3);
    margin-bottom: 4.5rem;
}

.hero-desc b {
    display: inline-block;
    font-size: var(--fs-h2);
    background: linear-gradient(90deg, hsla(0, 98%, 0%, .3), hsla(0, 0%, 0%, 0));
}

.hero-link {
    display: inline-block;
    font-weight: var(--fw-medium);
}

.hero-link:hover {
    transform: translate(-1px, -1px);
    text-shadow: 1px 1px 0 var(--first-color);
}

.hero-scroll {
    display: block;
    width: max-content;
    margin: 0 auto;
    transition: transform .4s;
}

.hero-scrolltext {
    display: none;
}

.hero-scroll:hover {
    transform: translateY(.5rem);
}

.hero-scrollbox {
    background-color: var(--second-color);
    color: var(--white);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.hero-scrollbox i {
    animation: scroll-down 3s infinite;
}

/* Animate Scroll Icon */
@keyframes scroll-down {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(.6rem);
        opacity: 0;
    }
}

/*
    Projects
*/
.projects {
    background-color: var(--container-color);
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-card {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid var(--second-color);
    transition: all .6s;
}

.projects-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
    filter: saturate(0.6) brightness(.8);
    transform: scale(1.1);
}

.projects-text {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: .1em .1em 0 var(--text-shadow);
    font-size: var(--fs-h1);
    font-family: var(--ff-title);
    color: var(--white);
    padding: .5em;
    z-index: var(--z-tooltip);
    transition: all .6s;
    border: 1px solid var(--white);
}

.projects-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.6));
    transform: translateY(100%);
    transition: all .4s;
}

.projects-card:hover {
    transform: translate(-.2em, -.2em);
    box-shadow: .5em .5em 0 var(--second-color);
}

.projects-card:hover .projects-img {
    transform: scale(1);
    filter: saturate(1) brightness(1.1);
}

.projects-card:hover .projects-overlay {
    transform: translateY(0);
}

.projects-card:hover .projects-text {
    bottom: -.1em;
    border: 0;
    transform: translate(-50%, 0%);
}

/*
    About
*/
.about-image {
    position: relative;
    width: 220px;
    margin-inline: auto;
}

.about-img {
    position: relative;
    border: 4px solid var(--white);
}

.about-box {
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: -.5rem;
    right: -.5rem;
    z-index: var(--z-bg);
    border: 1px solid var(--second-color);
}

.about-info {
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.about-desc {
    position: relative;
    font-weight: var(--fw-medium);
    margin-bottom: 1.5rem;
}

.about-desc::after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: var(--second-color);
    position: absolute;
    left: -1.75rem;
    top: .5rem;
}

.about-list {
    list-style: square;
    color: var(--title-color);
    margin-bottom: 3rem;
}
.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

/* -- Education -- */
.edu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edu-data{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1.5rem;
}

.edu-title{
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: .1rem;
    border: 1px solid var(--second-color);
    box-shadow: 2px 2px 0;
}

.edu-subtitle{
    display: inline-block;
    font-weight: var(--fw-semi);
    margin-bottom: .5rem;
}

.edu-calendar{
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: var(--fw-medium);
    margin-bottom: 2rem;
}

.edu-calendar span {
    font-size: var(--fs-normal);
}

.edu-dot{
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    background-color: var(--second-color);
    border-radius: 50%;
}

.edu-dot::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    border: 1px solid var(--second-color);
    border-radius: 50%;
}

.edu-line{
    display: flex;
    width: 2px;
    height: 100%;
    background-color: var(--second-color);
    transform: translate(6px, -10px);
}

/*
    Scrollbar
*/
*::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--first-color);
}

/* ----- MEDIA QUERIES ----- */
/* For small devices */
@media screen and (max-width: 350px) {
    .about-image {
        width: 180px;
    }

    .about-box {
        width: 160px;
        height: 160px;
    }

}

/* For medium devices */
@media screen and (min-width: 576px) {
    .projects-container,
    .about-container {
        grid-template-columns: 380px;
        justify-content: center;
    }

    .edu-content{
        display: grid;
        justify-content: center;
    }

}

@media screen and (min-width: 768px){
    .hero-container {
        align-items: center;
    }

    .hero-caption,
    .hero-desc {
        text-align: initial;
    }

    .hero-caption {
        padding-left: 3rem;
        align-self: flex-end;
    }

    .hero-info {
        margin-top: 0;
        padding-left: 1rem;
        align-self: flex-start;
    }

    .hero-desc {
        position: relative;
        font-size: var(--fs-h2);
        padding-left: 3rem;
    }

    .hero-desc::after {
        content: '';
        width: 32px;
        height: 2px;
        background-color: var(--second-color);
        position: absolute;
        left: 0;
        top: 14px;
    }

    .hero-scroll {
        width: max-content;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .75rem;
    }

    .hero-scrolltext {
        display: block;
        color: var(--text-color);
        font-size: var(--fs-small);
        font-weight: var(--fw-medium);
    }

    .projects-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-container {
        grid-template-columns: .382fr .618fr;
        gap: 0rem;
        margin-block: 1rem;
    }

    .about-img {
        width: 300px;
    }

    .about-box {
        width: 210px;
        height: 210px;
        left: 1rem;
        top: 2rem;
    }

    .about-desc {
        font-size: var(--fs-h3);
        margin-bottom: 2rem;
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .nav {
        height: 5.5rem;
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: row;
    }

    .nav-social {
        display: flex;
        flex-direction: row;
        column-gap: 2em;
        padding: .5em .5em 0;
    }

    .hero-scrollbox {
        width: 44px;
        height: 44px;
    }

    .projects-list {
        gap: 4rem;
    }

    .projects-card {
        max-width: 450px;
    }

    .projects-text {
        font-size: var(--fs-h2);
        padding: 1em;
        align-items: center;
    }

    .about-container {
        grid-template-columns: 440px 525px;
        gap: 1rem 3rem;
    }

    .about-image {
        width: 350px;
    }

    .about-img {
        border: 8px solid var(--white);
    }

    .about-box {
        width: 300px;
        height: 300px;
    }

    .about-info {
        align-self: flex-start;
        padding-left: 3rem;
    }

    .about-desc {
        font-size: var(--fs-h2);
    }

    .about-desc::after {
        width: 32px;
        height: 2px;
        left: -3rem;
        top: 14px;
    }

    .about-list {
        margin-bottom: 5rem;
    }

    .about-buttons {
        justify-content: initial;
    }
}