/* ----- GOOGLE FONT ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600;700&display=swap');

/* -- Variable Css -- */
:root {
    --header-height: 3.5rem;

    /* - Colors - */
     --first-color: hsl(14, 100%, 60%);
     --second-color: hsl(0, 0%, 20%);

     --black: hsl(0, 0%, 0%);
     --white: hsl(0, 100%, 100%);
     --trans: hsla(0, 0%, 0%, 0);

     --text-color: hsl(0, 0%, 20%);
     --text-shadow: hsl(0, 0%, 60%);
     --body-color: hsl(80, 26%, 93%);
     --container-color: hsl(0, 0%, 90%);

    /* - Font & Typograhy - */
     --ff-title: 'Raleway', sans-serif;
     --ff-body: 'Montserrat', sans-serif;

     --fs-big: 2.5rem;
     --fs-h1: 1.75rem;
     --fs-h2: 1.25rem;
     --fs-h3: 1.125rem;
     --fs-normal: .938rem;
     --fs-small: .813rem;

     --fw-regular: 400;
     --fw-medium: 500;
     --fw-semi: 600;
     --fw-bold: 700;

    /* - Z-index - */
     --z-bg: -10;
     --z-tooltip: 10;
     --z-fixed: 100;
}
 
/* - Responsive typograhy - */
@media screen and (min-width: 1150px) {
    :root {
        --fs-big: 3.5rem;
        --fs-h1: 3rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1.25rem;
        --fs-normal: 1rem;
        --fs-small: .875rem;
    }
}

/* -- Base -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-weight: var(--fw-semi);
    text-shadow: .05em .05em 0 var(--text-shadow);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img, video {
    display: block;
    max-width: 100%;
    height: auto;
}

/* -- Reusable Css Classes -- */
.container {
    max-width: 1140px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 6rem 4rem;
}

.section-title {
    position: relative;
    font-size: var(--fs-h1);
    font-family: var(--ff-title);
    width: max-content;
    margin: .75em auto 2em;
}

.section-title span {
    z-index: 5;
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 2em;
    height: .1em;
    bottom: -.1em;
    right: -.4em;
    background-color: var(--text-shadow);
}

.main {
    overflow: hidden;
}

/* - Social Icon - */
.social-link {
    display: grid;
    position: relative;
}

.social-link::after {
    content: '';
    position: absolute;
    top: .4em;
    left: .2em;
    width: 20px;
    height: 20px;
    transform: scale(0);
    border-radius: 50%;
    background-color: var(--first-color);
    z-index: var(--z-bg);
    transition: transform .4s;
}

.social-link i {
    font-size: 1.25rem;
}

.social-link:hover::after {
    transform: scale(1);
}

/* - Button - */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    padding: .8em 1em;
    font-weight: var(--fw-medium);
    color: var(--text-color);
    background-color: var(--white);
    border: 1px solid var(--second-color);
    transition: all .4s;
}

.button i{
    font-size: 1.25rem;
}

.button:hover {
    color: var(--white);
    background-color: var(--second-color);
    transform: translate(-.2em, -.2em);
    box-shadow: .2em .2em 0 var(--first-color);
}

/* -- Header -- */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .6s;
}

/* Active Link */
.active-link {
    color: var(--black);
    text-shadow: 2px 2px 0 var(--text-shadow);
}

/* -- Footer -- */
.footer-container {
    padding-block: 2em;
    row-gap: 1rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.footer-credit {
    font-size: var(--fs-small);
    text-align: center;
}

/* Scroll up */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    display: inline-flex;
    padding: .4em .5em;
    font-size: 1.25rem;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--body-color);
    z-index: var(--z-tooltip);
    transition: all .4s;
}

.scrollup:hover {
    transform: translateY(-.5rem);
    color:var(--white);
    background-color: var(--second-color);
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}

/* -- Scrollbar -- */
*::-webkit-scrollbar {
    background-color: var(--trans);
    width: .6rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--trans);
}

*::-webkit-scrollbar-thumb {
    border-radius: .8rem;
    border: 2px solid var(--trans);
    background-clip: content-box;
}

/* ----- MEDIA QUERIES ----- */
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 8rem 4rem;
    }
    
    .social-link i {
        font-size: 1.5rem;
    }

    .social-link::after {
        width: 24px;
        height: 24px;
    }

    .footer-container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: end;
    }

    .footer-credit {
        order: -1;
    }

    .scrollup {
        right: 3rem;
    }
}