/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono:wght@500;600&display=swap');

:root{
    /* ===== Colors =====*/
    --hue: 14;

    /* HSL color mode */
    --first-color: hsl(var(--hue), 0%, 20%);
    --first-color-light: hsl(var(--hue), 0%, 90%);

    --second-color: hsl(var(--hue), 100%, 60%);
    --second-color-light: hsl(var(--hue), 100%, 70%);

    --title-color: var(--first-color);
    --title-color-dark: hsl(var(--hue), 0%, 0%);
    --text-color: hsl(var(--hue), 0%, 10%);
    --body-color: hsl(var(--hue), 100%, 98%);
    --container-color: #fff;
    
    /* ===== Font and Typograhy ===== */
    --body-font: 'Roboto Mono', monospace;
    --title-font: 'Bungee', cursive;

    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* =====z index===== */
    --z-shadow: -1;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* ========= Scroll Bar ========= */
::-webkit-scrollbar{
    width: .6rem;
    background-color: var(--first-color-light);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--second-color);
}

/* =========== Base ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth !important;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: 600;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ========== REUSABLE CSS CLASSES ========== */
.section{
    padding: 2rem 0 4rem;
}

.section-title{
    position: relative;
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    color: var(--title-color);
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1;
}

.section-title::before{
    content: '';
    background-color: var(--second-color);
    left: 50%;
    bottom: 0;
    width: 70px;
    height: 10px;
    position: absolute;
    border-radius: 2px;
    z-index: var(--z-shadow);
}

.title-underline{
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
}

.title-line{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--first-color);
    z-index: var(--z-shadow);
}

.line-box{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid var(--first-color);
    background-color: #fff;
    background-size: cover;
}

.line-box::before{
    content: '';
    background: var(--second-color-light);
    border: 1px solid var(--second-color-light);
    position: absolute;
    top: 0;
    transform: translate(.2rem, .2rem);
    height: 100%;
    width: 100%;
    z-index: var(--z-shadow);
}

.left-box{
    left: 0;
}

.right-box{
    right: 0;
}

/* ========== Layout ========== */
.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* ========== Nav ========== */
.nav{
    font-family: var(--title-font);
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo, .nav-toggle{
    color: var(--title-color);
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-logo:hover,
.nav-toggle:hover{
    color: var(--second-color);
}

@media  screen and (max-width: 767px) {
    .nav-menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s ease;
    }
}

.nav-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: 500;
    line-height: 2;
}

.nav-link:hover{
    color: var(--second-color);
}

.nav-icon{
    font-size: 1.6rem;
}

.nav-close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav-close:hover{
    color: var(--second-color);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .2);
}
/*==========Home==========*/
.home-container{
    display: flex;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.bg-text{
    position: absolute;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translateY(50%);
    font-family: var(--title-font);
    font-size: 7rem;
    right: 0px;
    top: 50%;
    line-height: 1;
    z-index: -9;
    color: var(--first-color-light);
}

.big-home-text{
    display: none;
}

.home-underline{
    display: none;
}

.home-content{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-direction: column; 
    padding-top: 4.5rem;
    margin: 1.5rem;
}

.home-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.home-social-icon{
    font-size: 1.6rem;
    margin: 0 2rem;
    color: var(--first-color);
}

.home-social-icon:hover{
    color: var(--second-color);
}

.home-data{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10rem;
}

.home-title{
    font-size: var(--big-font-size);
    margin-bottom: 1rem;
}

.home-title span{
    font-family: var(--title-font);
    position: relative;
    color: var(--body-color);
    line-height: 2;
    letter-spacing: 10px;
    -webkit-text-stroke: 2px var(--title-color);
    text-shadow: 4px 4px var(--title-color);
}

.home-title span::before{
    content: '';
    display: inline;
    background: var(--second-color);
    border: 1px solid var(--second-color);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(1rem, 3rem);
    height: 40px;
    width: 100%;
    z-index: var(--z-shadow);
}

.home-desc{
    font-size: var(--h3-font-size);
    margin-bottom: 10rem;
    padding: 0 2rem;
}

.home-desc span{
    position: relative;
    font-weight: 600;
    color: var(--title-color);
}

.home-desc span:hover{
    text-shadow: 2px 2px var(--second-color-light);
}

.home-scroll{
    display: none;
}

.home-scroll-button{
    color: var(--first-color);
    transition: .3s;
    align-self: auto;
    margin-bottom: 3rem;
}

.home-scroll-button:hover{
    transform: translateY(0.5rem);
    color: var(--second-color);
}

.home-scroll-mouse{
    font-size: 2rem;
}

.home-scroll-name{
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: 500;
    margin-right: .25rem;
}

.home-scroll-arrow{
    font-size: 1.2rem;
}

/*========== Buttons ==========*/
.button{
    position: relative;
    display: inline-block;
    font-family: var(--title-font);
    line-height: 1;
    background-color: var(--container-color);
    color: var(--first-color);
    border: 4px solid var(--first-color);
    padding: 1rem 2rem;
    border-radius: .1rem;
    font-weight: 500;
}

.button:hover{
    background-color: var(--first-color);
    color: var(--container-color);
    border: 4px solid var(--second-color);
}

.button::before{
    content: '';
    background-color: var(--second-color);
    border: 4px solid var(--second-color);
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: var(--z-shadow);
}

.button-icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
}

.button-flex{
    display: inline-flex;
    align-items: center;
}

.button-small{
    padding: .75rem 1rem;
}

/*==========portfolio==========*/
.portfolio-container{
    overflow: initial;
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.content{
    width: 100%;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(1fr, 1fr));
    max-width: 100%;
    gap: 1rem;
    margin: 0 auto;
}

.portfolio-img{
    position: relative;
    max-width: 100%;
    height: 20rem;
    border-radius: .3rem;
    border: 5px solid var(--first-color);
    overflow: hidden;
    cursor: pointer;
}

.portfolio-img:hover{
    border: 5px solid var(--second-color);
}

.portfolio-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    transition: 1s ease;
}

.portfolio-img:hover .overlay{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.portfolio-info{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: var(--container-color);
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    transform: translateY(20px);
    opacity: 0;
    transition: .5s ease;
}

.portfolio-img:hover .portfolio-info{
    transform: translateY(0);
    opacity: 1;
}

/*==========About==========*/
.about-img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about-data{
    display: flex;
    flex-direction: column;
}

.about-desc{
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.about-desc span{
    line-height: 1;
    font-weight: 600;
}

.about-desc span:hover{
    color: var(--second-color);
    text-shadow: 2px 2px var(--first-color-light);
}

.about-info-title{
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    line-height: 1;
    font-weight: 600;
    color: var(--title-color);
}

.about-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.about-infomation{
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--second-color-light);
}

.about-info-name{
    font-size: var(--small-font-size);
    font-weight: 600;
}

.about-info-name li{
    list-style-type: circle;
    margin: .25rem 2rem;
}

.about-info-title, .about-info-name{
    display: block;
}

.about-button{
    display: flex;
    justify-content: center;
}

/*========== Education ==========*/
.education-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.education-data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.education-title{
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    font-weight: 500;
    line-height: 2;
    margin-bottom: 1rem;
    background-color: var(--second-color-light);
}

.education-subtitle{
    display: inline-block;
    font-size: var(--normal-font-size);
    font-weight: 600;
    margin-bottom: .5rem;
}

.education-calendar{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 2rem;
}

.education-rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--second-color);
    border: 2px solid var(--first-color);
    border-radius: 50%;
}

.education-line{
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -10px);
}

/* ========== Contact ========== */
.contact{
    padding-top: 3rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--first-color);
    padding: 6rem 0 4rem;
    overflow: hidden;
}

.contact-data{
    display: flex;
    flex-direction: column;
}

.contact-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    color: var(--container-color);
}

.contact-info i{
    font-size: 1.6rem;
    margin-right: 1rem;
}

.contact-detail{
    position: relative;
    color: var(--container-color);
    font-size: var(--normal-font-size);
}

.contact-info:hover i,
.contact-info:hover .contact-detail{
    color: var(--second-color);
    text-shadow: 2px 2px rgba(0, 0, 0, .2);
}

.media-social{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.social-icon{
    display: flex;
    position: relative;
    align-items: center;
}

.social-icon i{
    font-size: 1.6rem;
    margin: .2rem .6rem;
    padding: .5rem .9rem;
    color: var(--container-color);
    border-radius: 5rem;
}

.media-detail{
    font-size: var(--normal-font-size);
    position: relative;
    color: var(--container-color);
}

.social-icon:hover i{
    color: var(--second-color);
    background-color: black;
}

.media-detail::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 0%;
    height: 3px;
    transform: translate(1rem, .1rem);
    background: var(--second-color);
    border-radius: 2rem;
    transition: .3s;
    z-index: var(--z-modal);
}

.social-icon:hover .media-detail{
    color: var(--second-color);
}

.social-icon:hover .media-detail::before{
    width: 90%;
}

/*==========footer==========*/
.footer-bg{
    background-color: var(--first-color);
    padding: 1rem 0 4rem;
}

.footer-copy{
    font-size: var(--normal-font-size);
    text-align: center;
    color: var(--container-color);
    margin-top: 1rem;
}

/* =================== MEDIA QUERIES ================ */
/* For small devices */
@media screen and (max-width: 350px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav-menu{
        padding: 2rem .25rem 4rem;
    }

    .nav-list{
        column-gap: 0;
    }

    .home-content{
        grid-template-columns: .25fr 3fr;
    }

}

/* For medium devices */
@media screen and (min-width: 568px) {

    .title-underline{
        width: 40%;
    }

    .about-container{
        margin: 2rem;
    }

    .about-img{
        width: 300px;
        align-self: auto;
    }

    .education-content{
        display: grid;
        justify-content: center;
    }

    .contact-data{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section-subtitle{
        margin-bottom: 4rem;
    }

    .section-title::before{
        left: 50%;
        bottom: -10px;
        width: 100px;
        height: 20px;
        position: absolute;
    }

    .title-underline{
        width: 30%;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer-container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(4rem + 1.5rem);
        column-gap: 1rem;
    }

    .nav-icon,
    .nav-close,
    .nav-toggle{
        display: none;
    }

    .nav-list{
        display: flex;
        column-gap: 2rem;
    }

    .nav-menu{
        margin-left: auto;
    }

    .home-content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home-data{
        margin-top: 5rem;
    }

    .home-scroll{
        display: block;
    }

    .about-container{
        column-gap: 5rem;
    }

    .portfolio-container{
        margin-left: auto;
        margin-right: auto;
    }

    .about-img{
        width: 350px;
    }

    .about-desc{
        text-align: initial;
    }

    .about-info{
        flex-direction: row;
        justify-content: space-between;
    }

    .portfolio-img{
        width: 270px;
    }

    .portfolio-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-bg{
        padding: 1rem;
    }

    .footer-copy{
        margin-top: .5rem;
    }
}

/* For big devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer-container{
        padding: 0;
    }

    .section-title::before{
        left: 55%;
        bottom: -10px;
        width: 100px;
        height: 30px;
        position: absolute;
    }

    .home-container{
        overflow: hidden;
        height: 100vh;
        max-width: 1080px;
        margin: auto;
    }
    
    .home-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; 
    }
    
    .home-social{
        flex-direction: column;
    }
    
    .home-social-icon{
        margin: 1rem 2rem;
    }
    
    .big-home-text{
        display: block;
    }

    .big-home-text h1{
        font-family: var(--title-font);
        font-size: 4.5rem;
        writing-mode: vertical-lr;
        line-height: 1;
        margin: 2rem;
        transform: rotate(180deg);
    }

    .home-underline{
        display: block;
        position: relative;
        height: 80%;
    }
    
    .home-line{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        transform: translateX(7px);
        background-color: var(--first-color);
        z-index: var(--z-shadow);
    }
    
    .home-line-box-01{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid var(--first-color);
        background-color: #fff;
        background-size: cover;
    }
    
    .home-line-box-01::before{
        content: '';
        background: var(--second-color-light);
        border: 2px solid var(--second-color-light);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(.1rem, .1rem);
        height: 100%;
        width: 100%;
        z-index: var(--z-shadow);
    }
    
    .home-line-box-02{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid var(--first-color);
        background-color: #fff;
        background-size: cover;
    }
    
    .home-line-box-02::before{
        content: '';
        background: var(--second-color-light);
        border: 2px solid var(--second-color-light);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(.1rem, .1rem);
        height: 100%;
        width: 100%;
        z-index: var(--z-shadow);
    }
    
    .home-data{
        text-align: left;
        align-items: start;
        padding: 1rem;
        margin-top: 0;
    }
    
    .home-title span{
        margin-left: 1rem;
    }
    .home-title span::before{
        transform: translate(2rem, 4rem);
    }
    
    .home-desc{
        text-align: left;
        padding: 0;
        margin-bottom: 0;
    }

    .home-scroll{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -5rem);
    }

    .home-scroll-button{
        margin: 0;
    }

    .about-container{
        grid-template-columns: repeat(2,  1fr);
    }

    .about-info{
        flex-direction: column;
    }
}