/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono:wght@500;600&display=swap');

:root{
    /* ===== Colors =====*/
    --hue: 14;

    /* HSL color mode */
    --first-color: hsl(var(--hue), 0%, 20%);
    --first-color-light: hsl(var(--hue), 0%, 90%);

    --second-color: hsl(var(--hue), 100%, 60%);
    --second-color-light: hsl(var(--hue), 100%, 70%);

    --title-color: var(--first-color);
    --text-color: hsl(var(--hue), 0%, 100%);
    --body-color: hsl(var(--hue), 0%, 20%);
    --container-color: #fff;
    
    /* ===== Font and Typograhy ===== */
    --body-font: 'Roboto Mono', monospace;
    --title-font: 'Bungee', cursive;

    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* =====z index===== */
    --z-shadow: -1;
    --z-fixed: 100;
    --z-tooltip: 10;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* ========= Scroll Bar ========= */
::-webkit-scrollbar{
    width: .6rem;
    background-color: var(--first-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--second-color-light);
}

/* =========== Base ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--text-color);
    font-weight: 500;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ========== REUSABLE CSS CLASSES ========== */
.section{
    padding: 2rem 0 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-title{
    position: relative;
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1;
    font-weight: 500;
}

.section-title::before{
    content: '';
    background-color: var(--second-color);
    left: 50%;
    bottom: -1rem;
    width: 70px;
    height: 10px;
    position: absolute;
    border-radius: 2px;
    z-index: var(--z-shadow);
}

/* ========== Layout ========== */
.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* ========== Nav ========== */
.nav{
    font-family: var(--title-font);
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo, .nav-toggle{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-logo:hover,
.nav-toggle:hover{
    color: var(--second-color);
}

@media  screen and (max-width: 767px) {
    .nav-menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgb(255, 255, 255);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s ease;
    }
}

.nav-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    font-weight: 500;
    line-height: 2;
}

.nav-link:hover{
    color: var(--second-color);
}

.nav-icon{
    font-size: 1.6rem;
}

.nav-close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav-close:hover{
    color: var(--second-color);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.2);
}

/*========== Buttons ==========*/
.button{
    position: relative;
    display: inline-block;
    font-family: var(--title-font);
    line-height: 1;
    color: var(--first-color);
    background-color: var(--second-color);
    border: 4px solid var(--second-color);
    padding: 1rem 2rem;
    border-radius: .1rem;
    font-weight: 500;
    z-index: var(--z-tooltip);
}

.button:hover{
    color: var(--container-color);
}

.button::before{
    content: '';
    left: 0;
    top: 0;
    transform: translate(-.5rem, -.5rem);
    background-color: var(--container-color);
    border: 4px solid var(--first-color-light);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: var(--z-shadow);
}

.button:hover::before{
    background-color: var(--first-color);
    border: 4px solid var(--second-color);
}

.button-icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
}

.button-flex{
    display: inline-flex;
    align-items: center;
}

.button-small{
    padding: .75rem 1rem;
}

/*==========portfolio==========*/
.portfolio-container{
    overflow: initial;
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.portfolio-list{
    margin: 3rem 0;
    padding: 1rem 0 2rem;
}

.portfolio-card{
    position: relative;
    border-radius: .3rem;
    border: 5px solid var(--first-color);
    margin: 2rem;
    padding: 0 0 2rem;
    transition: transition: all 1s ease;
}

.portfolio-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.portfolio-video{
    width: 300px;
    height: 200px;
    border-radius: .2rem;
    justify-self: center;
}

.portfolio-data{
    display: flex;
    flex-direction: column;
}

.portfolio-tag{
    display: block;
    opacity: 0;
    transition: all .3s ease;
}

.portfolio-card:hover{
    color: var(--first-color);
    border: 5px solid black;
    background-color: var(--container-color);
}

.portfolio-card:hover::before{
    content: '';
    background-color: var(--second-color);
    border: 4px solid var(--second-color);
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: var(--z-shadow);
}

.portfolio-card:hover .portfolio-tag{
    opacity: 1;
    font-weight: 600;
    color: var(--first-color);
    transform: translateX(5px);
}

.portfolio-title{
    font-size: var(--h2-font-size);
    font-weight: 600;
    line-height: 2;
    margin-bottom: .5rem;
    background-color: var(--second-color);
}

.portfolio-desc{
    margin-bottom: .75rem;
}

.portfolio-button{
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.portfolio-button:hover .button-icon{
    transform: translateX(.25rem);
}

.figma-demo{
    border: 4px solid var(--first-color);
}

/*--=== footer ===--*/
.footer-bg{
    background-color: var(--second-color);
    padding: 1rem 0 4rem;
}

.footer-copy{
    font-size: var(--normal-font-size);
    text-align: center;
    color: var(--first-color);
    margin-top: 1rem;
}

/* =================== MEDIA QUERIES ================ */
/* For small devices */
@media screen and (max-width: 350px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav-menu{
        padding: 2rem .25rem 4rem;
    }

    .nav-list{
        column-gap: 0;
    }
}

/* For medium devices */

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section-subtitle{
        margin-bottom: 4rem;
    }

    .section-title::before{
        left: 50%;
        bottom: -10px;
        width: 100px;
        height: 20px;
        position: absolute;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .footer-container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(4rem + 1.5rem);
        column-gap: 1rem;
    }

    .nav-icon,
    .nav-close,
    .nav-toggle{
        display: none;
    }

    .nav-list{
        display: flex;
        column-gap: 2rem;
    }

    .nav-menu{
        margin-left: auto;
    }

    .portfolio-container{
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-video{
        width: 560px;
        height: 315px;
    }

    .portfolio-content{
        align-items: center;
    }

    .footer-bg{
        padding: 1rem;
    }

    .footer-copy{
        margin-top: .5rem;
    }
}

/* For big devices */
@media screen and (min-width: 1024px) {
    .header,
    .footer-container{
        padding: 0;
    }

    .section-title::before{
        left: 55%;
        bottom: -10px;
        width: 100px;
        height: 30px;
        position: absolute;
    }

    .portfolio-content{
        column-gap: 1rem;
    }
    
}
